@using StockOptima.Utils
@{
    ViewBag.Title = "Dashboard";
    ViewBag.PreviousPage = "";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Dashboard</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
            @if (User.HasAccessTo(Role.HrManager))
            {
                <div class="col">
                    <a class="text-decoration-none" asp-controller="Users" asp-action="ListUsers">
                        <div class="card h-100">
                            <div class="card-body text-center">
                                <h5 class="card-title">Manage Users</h5>
                                <span class="card-img">
                                 
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            }
            @if (User.HasAccessTo(Role.StockManager))
            {
                <div class="col">
                    <a class="text-decoration-none" asp-controller="Products" asp-action="ListProducts">
                        <div class="card h-100">
                            <div class="card-body text-center">
                                <h5 class="card-title">Manage Products</h5>
                                <span class="card-img">
                                    
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            }
            <div class="col">
                <a class="text-decoration-none" asp-controller="Authentication" asp-action="Logout">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <h5 class="card-title">Logout</h5>
                            <span class="card-img">
                                
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
